@import url('https://fonts.googleapis.com/css2?family=Cambay:ital,wght@0,400;0,700;1,400;1,700&display=swap');
body {
  font-family: "Cambay", Arial, sans-serif;
  color: #171717;
  background-color: #f7f7f7;
  width: 80%;
  margin: 0 auto;
  margin-top: 2.5rem;
  margin-bottom: 100vh;
}

h1 {
  text-align: center;
}

.permalink {
  font-size: 10px;
  margin-left: 10px;
}

body::after {
  content: "This space intentionally left blank.";
  color: rgba(0,0,0,0.5);
  font-style: italic;
  margin-top: 50px;
  text-align: center;
  width: 100%;
  display: block;
}